In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st
import os
import matplotlib.pyplot as plt

In [2]:
lesson_ids = pd.read_csv('all_lesson_items.csv')

user_ids = pd.read_csv('sample_user_ids.csv')

lesson_bookmarks = pd.read_csv('lesson_bookmarks.csv')
lesson_comment_votes = pd.read_csv('lesson_comment_votes.csv')
lesson_comments = pd.read_csv('lesson_comments.csv')
lesson_impressions = pd.read_csv('lesson_impressions.csv')

user_lesson_bookmarks = pd.read_csv('user_lesson_bookmarks.csv')
user_lesson_comment_votes = pd.read_csv('user_lesson_comment_votes.csv')
user_lesson_comments = pd.read_csv('user_lesson_comments.csv')
user_lesson_impressions = pd.read_csv('user_lesson_impressions.csv')

In [3]:
lesson_ids.shape

(1319, 1)

In [4]:
user_ids.shape

(10024, 1)

In [5]:
item_bookmarks = pd.concat([lesson_bookmarks,user_lesson_bookmarks])
item_comment_votes = pd.concat([lesson_comment_votes,user_lesson_comment_votes])
item_comments = pd.concat([lesson_comments,user_lesson_comments])
item_impressions = pd.concat([lesson_impressions,user_lesson_impressions])

In [6]:
df = pd.DataFrame(np.repeat(user_ids.values,len(lesson_ids),axis=0),columns=['UserId'])
df2 = pd.concat([lesson_ids]*len(user_ids), ignore_index=True)

In [7]:
df['LessonId'] = df2.ItemId
df.head()

   UserId LessonId
0    2080     U322
1    2080     U634
2    2080     U642
3    2080     U643
4    2080     U649

In [8]:
df = pd.merge(df,item_bookmarks,on=['UserId','LessonId'],how='left')
df = pd.merge(df,item_comment_votes,on=['UserId','LessonId'],how='left')
df = pd.merge(df,item_comments,on=['UserId','LessonId'],how='left')
df = pd.merge(df,item_impressions,on=['UserId','LessonId'],how='left')

In [9]:
df.sample(10)

            UserId LessonId  Bookmark  Votes  Comments  Views
4190432    8861666    L2930       NaN    NaN       NaN    NaN
10066775  11460795     U708       NaN    NaN       NaN    NaN
9804002   11340283    L2712       NaN    NaN       NaN    NaN
10530598  11678802    L2452       NaN    NaN       NaN    NaN
9086257   11011031    L2492       NaN    NaN       NaN    NaN
5048926    9237925    L2378       NaN    NaN       NaN    NaN
6178623    9731566    U4192       NaN    NaN       NaN    NaN
3507450    8195185    U1062       NaN    NaN       NaN    NaN
10441839  11637060    L2251       NaN    NaN       NaN    NaN
6443440    9849916    U7666       NaN    NaN       NaN    NaN

In [10]:
df.shape

(13221656, 6)

In [11]:
df.fillna(0,inplace=True)

In [12]:
# items watched by no one
set(lesson_ids.ItemId.values)-set(df[df.Views!=0].LessonId)

{'U1010', 'U16839'}

In [13]:
columns = ['Views', 'Comments', 'Votes', 'Bookmark']

percentiles = [50,75,80,90,95,99,99.5,99.9]

thresholds = np.arange(1,11)

In [14]:
non_zero_arrays = {}

for column in columns:
    non_zero_arrays[column] = df[df[column]>0][column].values

for column in columns:
    print("Total User-{}:\t {}".format(column, len(non_zero_arrays[column])))

Total User-Views:	 267805
Total User-Comments:	 809
Total User-Votes:	 4484
Total User-Bookmark:	 2912

In [15]:
print('{:<30} {:<30} {:<30}'.format('Activity', 'Percentile', 'Threshold'))
for column in columns:
    print('------------------------------------------------------------------------')
    for percentile in percentiles:
        print('{:<30} {:<30} {:<30.0f}'.format(column, percentile, np.percentile(non_zero_arrays[column],percentile)))

Activity                       Percentile                     Threshold
------------------------------------------------------------------------
Views                          50                             1
Views                          75                             2
Views                          80                             2
Views                          90                             3
Views                          95                             4
Views                          99                             7
Views                          99.5                           9
Views                          99.9                           14
------------------------------------------------------------------------
Comments                       50                             1
Comments                       75                             1
Comments                       80                             1
Comments                       90                             2
Comments                       95                             3
Comments                       99                             4
Comments                       99.5                           6
Comments                       99.9                           7
------------------------------------------------------------------------
Votes                          50                             1
Votes                          75                             2
Votes                          80                             2
Votes                          90                             4
Votes                          95                             7
Votes                          99                             18
Votes                          99.5                           25
Votes                          99.9                           42
------------------------------------------------------------------------
Bookmark                       50                             1
Bookmark                       75                             1
Bookmark                       80                             1
Bookmark                       90                             1
Bookmark                       95                             1
Bookmark                       99                             1
Bookmark                       99.5                           1
Bookmark                       99.9                           1

In [16]:
print('{:<30} {:<30} {:<30}'.format('Activity', 'Threshold', 'Percentile'))
thres = {}
for column in columns:
    thres[column] = {}
    print('------------------------------------------------------------------------')
    for threshold in range(1,21):
        thres[column][threshold] = np.around(st.percentileofscore(non_zero_arrays[column],threshold,'weak'),3)
        print('{:<30} {:<30} {:<30.3f}'.format(column, threshold, thres[column][threshold]))

Activity                       Threshold                      Percentile
------------------------------------------------------------------------
Views                          1                              69.110
Views                          2                              86.912
Views                          3                              93.565
Views                          4                              96.511
Views                          5                              97.938
Views                          6                              98.729
Views                          7                              99.175
Views                          8                              99.438
Views                          9                              99.611
Views                          10                             99.719
Views                          11                             99.803
Views                          12                             99.857
Views                          13                             99.896
Views                          14                             99.925
Views                          15                             99.944
Views                          16                             99.956
Views                          17                             99.963
Views                          18                             99.971
Views                          19                             99.976
Views                          20                             99.979
------------------------------------------------------------------------
Comments                       1                              81.335
Comments                       2                              93.572
Comments                       3                              97.775
Comments                       4                              99.011
Comments                       5                              99.382
Comments                       6                              99.753
Comments                       7                              100.000
Comments                       8                              100.000
Comments                       9                              100.000
Comments                       10                             100.000
Comments                       11                             100.000
Comments                       12                             100.000
Comments                       13                             100.000
Comments                       14                             100.000
Comments                       15                             100.000
Comments                       16                             100.000
Comments                       17                             100.000
Comments                       18                             100.000
Comments                       19                             100.000
Comments                       20                             100.000
------------------------------------------------------------------------
Votes                          1                              63.671
Votes                          2                              80.575
Votes                          3                              87.021
Votes                          4                              90.633
Votes                          5                              93.087
Votes                          6                              94.692
Votes                          7                              95.517
Votes                          8                              96.231
Votes                          9                              96.789
Votes                          10                             97.324
Votes                          11                             97.636
Votes                          12                             97.971
Votes                          13                             98.060
Votes                          14                             98.372
Votes                          15                             98.595
Votes                          16                             98.662
Votes                          17                             98.885
Votes                          18                             99.153
Votes                          19                             99.197
Votes                          20                             99.309
------------------------------------------------------------------------
Bookmark                       1                              100.000
Bookmark                       2                              100.000
Bookmark                       3                              100.000
Bookmark                       4                              100.000
Bookmark                       5                              100.000
Bookmark                       6                              100.000
Bookmark                       7                              100.000
Bookmark                       8                              100.000
Bookmark                       9                              100.000
Bookmark                       10                             100.000
Bookmark                       11                             100.000
Bookmark                       12                             100.000
Bookmark                       13                             100.000
Bookmark                       14                             100.000
Bookmark                       15                             100.000
Bookmark                       16                             100.000
Bookmark                       17                             100.000
Bookmark                       18                             100.000
Bookmark                       19                             100.000
Bookmark                       20                             100.000

In [17]:
def calc_rating(col_name):
    return lambda x: 0 if x == 0 else (100 if x > len(thres[col_name]) else thres[col_name][x])

In [18]:
df['Rating'] = (df.Views.apply(calc_rating('Views'))*0.2
                + df.Comments.apply(calc_rating('Comments'))*0.4
                + df.Votes.apply(calc_rating('Votes'))*0.1
                + df.Bookmark.apply(calc_rating('Bookmark'))*0.3)/10

In [19]:
df.Rating.value_counts().sort_index(ascending = True)

0.00000    12951745
0.63671        1150
0.80575         343
0.87021         118
0.90633          48
0.93087          41
0.94692          19
0.95517           7
0.96231          10
0.96789           5
0.97324           3
0.97636           1
0.97971           1
0.98372           2
0.99153           2
1.00000           1
1.38220      182941
1.73824       46243
1.87130       17002
1.93022        7479
1.95876        3536
1.97458        1956
1.98350        1099
1.98876         621
1.99222         422
1.99438         252
1.99606         204
1.99714         131
1.99792          91
1.99850          69
             ...
6.70431           1
6.72922           1
6.74176           1
6.80063           1
6.80609           2
6.82287           1
6.84187           1
6.84947           1
6.85855           1
6.88603           1
6.89066           1
6.89733           1
6.89891           1
6.90988           1
6.94644           1
6.94739           1
6.97112           1
6.97884           1
6.97888           1
7.63560           1
8.12470           2
8.18362           2
8.23690           1
8.62835           1
8.82033           1
8.88725           1
8.93083           1
9.11355           1
9.22582           1
9.75554           1
Name: Rating, Length: 421, dtype: int64

In [20]:
len(np.unique(df.Rating)), len(df.Rating)

(421, 13221656)

In [21]:
df[df.Rating>8]

          UserId LessonId  Bookmark  Votes  Comments  Views   Rating
647352   1891892    L2472       1.0    2.0       2.0    1.0  8.93083
730326   2146163    L2153       1.0   11.0       1.0   11.0  9.22582
888701   2628397    L2446       1.0   17.0       1.0    3.0  9.11355
1208598  3570926   U15173       1.0    0.0       1.0    4.0  8.18362
1254493  3696102    U7378       1.0    0.0       1.0    4.0  8.18362
1676701  4811660    U4537       1.0    1.0       1.0   12.0  8.88725
1688904  4839869    L1035       1.0    1.0       1.0    2.0  8.62835
2692531  6938762    U4631       1.0    1.0       1.0    4.0  8.82033
2906508  7308651    L1603       1.0   10.0       3.0    3.0  9.75554
3305129  7917906    L2465       1.0    0.0       1.0    3.0  8.12470
3499567  8184734    U4601       1.0    0.0       1.0    3.0  8.12470
6286818  9779507    U9885       1.0    0.0       1.0    7.0  8.23690

In [22]:
final_df = df[['UserId','LessonId','Rating']].copy()

In [23]:
# final_df[final_df.Rating>0].to_csv('rating_matrix.csv',index=False)